*{
    padding: 0;
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
}

/* Design of header */
header{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
#header-content h2{
    font-size: 6vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
#header-content h1{
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.cBtn{
    background: #fc036b;
    padding: 15px 25px;
    border-radius: 30px;
    color: whitesmoke;
}
/* Design of header now end */